In [1]:
import pandas as pd
import IPython.display as display

nome_arquivo = "vendas_biscoitos.csv"
df = pd.read_csv(nome_arquivo)

df['data'] = pd.to_datetime(df['data'])

In [2]:
# Ranking de locais campeões de vendas de cada mês

df['mes_ano'] = df['data'].dt.to_period('M')

ranking_locais = df.groupby(['local_venda', 'mes_ano']).agg(
    total_pedidos=('numero_pedido', 'nunique'),
    preco_total=('preco', 'sum')
).reset_index()

ranking_locais = ranking_locais.sort_values(by=['mes_ano', 'preco_total'], ascending=[True, False])

import IPython.display as display
display.display(ranking_locais)

             local_venda  mes_ano  total_pedidos  preco_total
0         Jardim de Alah  2024-09             34      2041.06
3       Largo do Machado  2024-09             34      1905.09
6   Nossa senhora da paz  2024-09             15       429.26
9        Siqueira Campos  2024-09             10       386.07
1         Jardim de Alah  2024-10            119      6626.98
7   Nossa senhora da paz  2024-10            120      5997.05
10       Siqueira Campos  2024-10             96      3774.24
4       Largo do Machado  2024-10             90      3603.58
5       Largo do Machado  2024-11             97      4612.98
11       Siqueira Campos  2024-11             83      3607.94
2         Jardim de Alah  2024-11             73      3521.80
8   Nossa senhora da paz  2024-11             51      2221.12

In [3]:
# Ranking de biscoitos campeões de vendas de cada local

ranking_biscoitos = df.groupby(['local_venda', 'nome_biscoito']).agg(
    total_vendido=('preco', 'sum'),
    total_pedidos=('numero_pedido', 'nunique')
).reset_index()

ranking_biscoitos = ranking_biscoitos.sort_values(by=['local_venda', 'total_vendido'], ascending=[True, False])

ranking_top_biscoitos = ranking_biscoitos.groupby('local_venda').head(1)

display.display(ranking_top_biscoitos)

             local_venda          nome_biscoito  total_vendido  total_pedidos
17        Jardim de Alah  Pastelzinho de queijo        1066.02             35
44      Largo do Machado          Peito de peru         790.98             24
52  Nossa senhora da paz       Bolinha de bacon         643.50             15
95       Siqueira Campos  Pastelzinho de queijo         650.52             24

In [4]:
# Ranking de biscoitos campeões de vendas de cada local por mês

df['mes_ano'] = df['data'].dt.to_period('M')

ranking_biscoitos = df.groupby(['local_venda', 'mes_ano', 'nome_biscoito']).agg(
    total_vendido=('preco', 'sum'),
    total_pedidos=('numero_pedido', 'nunique')
).reset_index()

ranking_biscoitos = ranking_biscoitos.sort_values(by=['local_venda', 'mes_ano', 'total_vendido'], ascending=[True, True, False])

ranking_top_biscoitos = ranking_biscoitos.groupby(['local_venda', 'mes_ano']).head(1)

display.display(ranking_top_biscoitos)

,local_venda,mes_ano,nome_biscoito,total_vendido,total_pedidos
14,Jardim de Alah,2024-09,Polvilho cebola,293.52,8
40,Jardim de Alah,2024-10,Polvilho queijo,632.10,14
61,Jardim de Alah,2024-11,Pastelzinho de queijo,366.18,10
84,Largo do Machado,2024-09,Pastelzinho de queijo,194.46,6
109,Largo do Machado,2024-10,Peito de peru,370.32,12
138,Largo do Machado,2024-11,Polvilho queijo,397.92,11
144,Nossa senhora da paz,2024-09,Brinquinho,101.46,2
161,Nossa senhora da paz,2024-10,Champanhota,419.64,14
181,Nossa senhora da paz,2024-11,Bolinha de bacon,256.32,4
208,Siqueira Campos,2024-09,Casadinho doce de leite,105.07,1
235,Siqueira Campos,2024-10,Pastelzinho de queijo,294.66,11
261,Siqueira Campos,2024-11,Pastelzinho de queijo,312.66,11

In [5]:
# Ranking de biscoitos campeões de vendas de todos os locais

ranking_biscoito_geral = df.groupby('nome_biscoito').agg(
    total_vendido=('preco', 'sum'),
    total_pedidos=('numero_pedido', 'nunique')
).reset_index()

ranking_biscoito_geral = ranking_biscoito_geral.sort_values(by='total_vendido', ascending=False)

biscoito_mais_vendido = ranking_biscoito_geral.head(5)

display.display(biscoito_mais_vendido)

            nome_biscoito  total_vendido  total_pedidos
17  Pastelzinho de queijo        2548.26            101
0        Bolinha de bacon        2547.06             90
21        Polvilho queijo        2544.48             83
18          Peito de peru        2361.72             92
20       Polvilho natural        2318.46             91